<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Power monitor</title>

	<link rel="stylesheet" href="/bin/app.css" type="text/css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="logo">
			<span class="brand"><i class="fa fa-battery-bolt"></i></span>
			<span class="title">Power monitor</span>
		</div>
	</nav>
	<div class="container">
		<div class="row snapshots">
			<div class="col-sm-3 snapshot">
				<div id="battery-remaining"></div>
			</div>

			<div class="col-sm-3 snapshot">
				<div id="load"></div>
			</div>

			<div class="col-sm-3 snapshot">
				<div id="remaining-runtime"></div>
			</div>

			<div class="col-sm-3 snapshot">
				<div id="utility-voltage"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div id="battery-remaining-chart"></div>
			</div>

			<div class="col-lg-6">
				<div id="load-chart"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div id="remaining-runtime-chart"></div>
			</div>

			<div class="col-lg-6">
				<div id="utility-voltage-chart"></div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="col-md-6 bumper">
				<span id="last-updated" class="text-muted"></span>
				<span class="divider">&middot;</span>
				<span id="started" class="text-muted"></span>
			</div>
			<div class="col-md-6 text-right bumper">
				<span id="revision" class="text-muted"></span>
				<span class="divider">&middot;</span>
				<span id="model" class="text-muted"></span>
			</div>
		</div>
	</footer>

	<script src="/bin/app.js" type="text/javascript"></script>
	<script>
		startup(window, document, {
			interval: {{ .Interval }},
			startTime: {{ .StartTime }},
			revision: JSON.parse({{ .Revision }}),
		});
	</script>
</body>
</html>
